* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  border: 2px solid blue;
  height: 100dvh;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display {
  border: 2px solid black;
  width: 85%;
  height: 60dvh;
  padding: 3dvh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1dvh;
}

.section {
  border: 2px solid purple;
  height: 100%;
  flex: 1;
  border-radius: 10px;
  overflow: hidden;
  transition: flex 0.5s ease;
}

.picture {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.focus {
  flex: 8;
}




